<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(poesia | async) as poesia">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{poesia.titulo}}</ion-card-title>
      <ion-card-subtitle>Autor: {{poesia.autor}}</ion-card-subtitle>
      <ion-card-subtitle>Descripción: {{poesia.descripcion}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="poesia.contenido">
    <ion-card-header>
      <ion-card-title>Contenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{poesia.contenido}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!poesia.contenido">
    <ion-card-header>
      <ion-card-title>Imagen</ion-card-title>
    </ion-card-header>
    <div class="vertical-center">
      <img [src]="poesia.image.url" width="200" height="298"/>
    </div>
  </ion-card>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Comentario<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="comentario.comentario"></ion-input>
    </ion-item>
    
    </ion-list>

  <div class="ion-padding">
    <!-- Llamar al método showEditarEmpleo enviando el uid del empleo-->
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="agregarComentario(poesia.uid)">Aceptar</ion-button>
  </div>
</ion-content>
